<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') -%>
  </head>

  <body>
    <%- include('../partials/header') -%>
    <main>
      <div class="navbar-products">
        <div><input type="search" /><button>Search</button></div>
        <div>
          <a href="/products/create"><button>Create New Product</button></a>
        </div>
      </div>
      <div>
        <p>Product Detail</p>
      </div>
      <div>
        <%= productDetailById.name %> <%= productDetailById.description %> <%=
        productDetailById.image %> <%= productDetailById.category %> <%=
        productDetailById.rating %> <%= productDetailById.platform %> <%=
        productDetailById.price %>
      </div>
    </main>
    <%- include('../partials/footer') -%>
  </body>
</html>
